@font-face {
  font-family: 'ZenKakuGothicNew-Regular'; /* Choose a name for your font */
  src: url('./assets/fonts/ZenKakuGothicNew-Regular.ttf') format('truetype');
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}
@font-face {
  font-family: 'Elianto-Regular'; /* Choose a name for your font */
  src: url('./assets/fonts/Elianto-Regular.otf') format('opentype');
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}

@font-face {
  font-family: 'droxen'; /* Choose a name for your font */
  src: url('./assets/fonts/droxen.ttf') format('truetype');
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}
